*{
    margin: 0;
    padding: 0;
    
    
}
body{
    justify-content: center;   
}

.wrapper{
    max-width: 995px;
    width: 100%;
    position: relative;
    padding-top: 10px;
    margin-left: 5px;    
}
.wrapper i {
    height: 250px;
    width: 70px;
    background: transparent;
    color: white;
    font-size: 40px;
    text-align: center;
    line-height: 220px;
    cursor: pointer;
    position: absolute;
    top:45%;
    transform:translateY(-50%) ;
    border-bottom-right-radius: 10%;
    border-top-right-radius: 10%;
}
.wrapper i:hover{
    background-image: linear-gradient(to right, rgba(224, 223, 223, 0), rgb(248, 241, 241));  
    color: black;
}
.wrapper i:first-child{
  left: -22px;
}
.wrapper i:last-child{
 right: -22px;
}
.wrapper .carousal{
    display: grid;
    grid-auto-flow: column;
    gap:6px;
    overflow-x:hidden;
    scroll-behavior: smooth;
    
}

.carousal :where(.card,.img){
    display: flex;
}
.carousal .dragging{
    scroll-snap-type: none;
    scroll-behavior: smooth;
}
.carousal .dragging .card{
    cursor: grab;
    user-select: none;
}
.carousal .card{
    scroll-snap-align:start;
    width: 290px;
    height:290px;
    list-style: none;
    background: #eee;
    border-radius: 5px;
    flex-direction: column;
    cursor: pointer;

}
.carousal .card:hover{
    background-color: rgb(216, 211, 211);
}
.card .img img{
    width:285px ;
    height: 200px;
    object-fit: cover;
   
}
.card h2{
    color:#004b49;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}